.wrapper___29vRp{width:70%;margin:0 auto}.navigation___3Hyok{padding:3vh 0}.navigation___3Hyok .active___1THnk a{color:#5477f8}.navigation___3Hyok a{color:#fff}.navigation___3Hyok a:hover{color:#5477f8}
