@import '~antd/dist/antd.css';

#logo{
    padding: 25px 50px;
}
#logo a{
    text-decoration: none;
    color: #1890ff;
    font-size: 14px;
}
#logo a:hover{
    background: #1890ff;
    color: #fff;
}