.introduce{
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.introduce .avatar{
    width: 100%;
}
.introduce .alert{
    margin-bottom: 30px;
}
.introduce-info > div{
    margin-bottom: 0.5em;
}